/* global styles */
:root {
  /* declare vars */
  --wipeoutfont: 'Original Surfer', cursive;
  --impactfont: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  --surfaris: #dddddf;
  --ocean: #5998ad;
  --lightocean: #95bdd2;
  --wipeout: #ca5049;
  --surferyellow: #d5d00d;
  --surferblack: #292a2e;
  background-color: var(--ocean);
}

body {
  color: var(--surferblack);
  font-family: var(--impactfont);
}

.headercard {
  background-color: var(--lightocean);
}

.surfcard {
  background-color: var(--wipeout);
}

/* header styles */
#tidalheader {
    font-family: var(--wipeoutfont);
    font-size: 48px;
    font-weight: bolder;
    color: var(--wipeout);
    text-align: center;
    text-shadow: 4px 4px 0px var(--surferblack)
  }
  
  #websurfhead
   {
    color: var(--surfaris);
    font-size: 22px;
    text-align: center;
  }

  h5 {
    text-align: center;
  }
#headersearch {
  margin-left: 45px;
  margin-right: 45px;
  margin-top: 15px;
}


#search-button {
    background-color: var(--lightocean);
}

.past-search-button-container {
    justify-content: space-between;
}
.past-search-button  {
    font-size: 20px;
    font-family: var(--impactfont);
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: var(--lightocean);
}

/* main styles */
.resbtn {
  font-size: 20px;
  font-family: var(--impactfont);
  background-color: var(--surferyellow);
  margin-bottom: 5px;
  margin-bottom:5px;
  margin-right: 15px;
  margin-left: 15px;
}
/* data styles */

#datacontainer {
background-color: var(--wipeout)
}

#beach-data {
    margin-left: 30px;
    margin-right: 30px;
}

.datacard {
font-size: 24px;
background-color: var(--surferyellow);
height: 150px;
flex-basis: 40%;
margin-top: 15px;
margin-bottom: 15px;
}

.data-head {
  font-size: 26px;
    text-align: center;
}

.data-card-head {
text-align: center;
}