:root {
    /* declare vars */
    --surfaris: #DDDDDF;
    --ocean: #5998AD;
    --lightocean: #95BDD2;
    --wipeout: #CA5049;
    --surferyellow: #D5D00D;
    --surferblack: #292A2E;
    background-color: var(--ocean);
  }

  body {
    color: var(--surferblack)
  }

  #headermain {
    margin-left: 45px;
    margin-right: 45px;
    margin-top: 15px;
  }

  #tidalheader {
    text-align: center;
  }